<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>简屿</string>
    <key>CFBundleDisplayName</key>
    <string>简屿</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>LSUIElement</key>
    <false/>
    <key>NSAppleEventsUsageDescription</key>
    <string>简屿需要使用 Apple Events 打开并聚焦你选择的应用。</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 简屿 Contributors. All rights reserved.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
    <key>PINGTelemetryDailyEventLimit</key>
    <string>$(TRAE_FLOW_TELEMETRY_DAILY_EVENT_LIMIT)</string>
    <key>PINGTelemetrySLSHost</key>
    <string>$(TRAE_FLOW_TELEMETRY_SLS_HOST)</string>
    <key>PINGTelemetrySLSLogstore</key>
    <string>$(TRAE_FLOW_TELEMETRY_SLS_LOGSTORE)</string>
    <key>PINGTelemetrySLSProject</key>
    <string>$(TRAE_FLOW_TELEMETRY_SLS_PROJECT)</string>
    <key>PINGTelemetrySLSSource</key>
    <string>$(TRAE_FLOW_TELEMETRY_SLS_SOURCE)</string>
    <key>PINGTelemetrySLSTopic</key>
    <string>$(TRAE_FLOW_TELEMETRY_SLS_TOPIC)</string>

    <key>SUAllowsAutomaticUpdates</key>
    <false/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUFeedURL</key>
    <string>$(SPARKLE_APPCAST_URL)</string>
    <key>SUPublicEDKey</key>
    <string>$(SPARKLE_PUBLIC_ED_KEY)</string>
    <key>SUScheduledCheckInterval</key>
    <real>86400</real>
    <key>SUShowReleaseNotes</key>
    <false/>
</dict>
</plist>
